*{
     margin:0 0 0 0px;
     padding:0;   
}
body 
{
    background:url(../Resource/Images/back_ground.png) no-repeat;
    font-family:Tahoma,Times New Roman;
    font-size:0.9em;
}
.left
{
    float:left;
}
.right
{
    float:right;
}
.clear
{
    clear:both;
}
.text_center
{
    text-align:center;
    width:100%;
}

/* ------------------- page -------------------------------------------------------------------------*/
.page
{
    width:1000px;
    margin:auto;
}
/*-------------------- head -------------------------------------------------------------------------*/
.head
{
    height:80px;
    width:100%;
    border-bottom:1px solid #E6CF7A;
}
/*-------------------- logo -------------------------------------------------------------------------*/
.logo 
{
    
}
.logo a img
{
    border:none;
    height:78px;
    float:left;
}
.logo h1
{
    font-size:2.5em;
    margin-left:120px;
    margin-top:25px;
    float:left;
}
/*-------------------- menu -------------------------------------------------------------------------*/
/*-------------------- content -------------------------------------------------------------------------*/
.content
{
    min-height:300px;
    
}
/*-------------------- footer -------------------------------------------------------------------------*/
.footer
{
    border-top:1px solid #E6CF7A;
    min-height:50px;
    margin-top:10px;
    font-size:0.8em;
}
.marin_top
{
    margin-top:30px;
}
/*-------------------- login -------------------------------------------------------------------------*/
.login
{
    width:450px;
    margin:auto;
    /*border:1px solid #005E8F;*/
    margin-top:20px;
    margin-bottom:10px;
    border-radius:5px;
}
.title_login
{
   /* background:url(../Resource/Images/b.png) #005E8F;*/
    color:#fff;
    font-weight:bold;
    height:25px;
    padding-top:5px;
}
.center
{
    width:300px;
    margin:auto;
    margin-top:20px;
}
.line_log
{
    width:100%;
    border-bottom:1px solid #E6CF7A;
    margin-top:15px;
}
.pnMargin
{
    padding:5px;
    padding-left:25px;
}
.login_info
{
    margin-top:5px;
    width:200px;
    font-size:0.8em;
}
.table
{
    width:100%;
    margin-top:20px;
    margin-bottom:25px;
    border:1px solid #E6CF7A;
    border-radius:5px;
}
.table2
{
    width:100%;
    margin-top:10px;
    margin-bottom:15px;
    border:1px solid #E6CF7A;
    border-radius:5px;
}
.table table td
{
    padding:3px;
}
/*----------------- Report ------------------------------------------------------*/
.table_data
{
    width:100%;
    min-height:400px;
    border-radius:4px;
    margin-top:10px;
}
.table_data ul
{
    margin-left:0px;
}
.table_data ul li
{
    list-style:none;
    border-bottom:1px solid silver;
    padding-left:3px;
    padding-right:3px;
}
.table_data ul li:nth-child(2n){
        background:#CFEEFC;
}
.table_data table
{
    width:100%;
    text-align:center;
    border-collapse:collapse;
}
.table_data table td
{
    
     border:1px solid #03679A;
}
.table_data table th
{
    
    border:1px solid #03679A;
    color:#fff;
    padding:3px;
}
.table_data table thead .ac
{
    background:#2B97CF;
}
.table_data table thead
{
     background:url(../resource/images/bd.png) #2B97CF;
}
.table_data table tbody tr{
}
.chart_data
{
    width:100%;
    min-height:400px;
    border-radius:4px;
    margin-top:10px;
}